@import "vars";

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    color: $color-text;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    color: $color-link;
    cursor: pointer;
    outline-style: none;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: $font-size-large;
}

fieldset {
    border: {
        style: none;
        width: 0;
    };
}
