@import "vars";

.auxiliary {
    color: $color-text-auxiliary;
    font-size: $font-size-small;
}

.button {
    background-color: transparent;
    border: {
        radius: $border-radius;
        style: none;
        width: 0;
    };
    color: $color-link;
    cursor: pointer;
    font-size: 1em;
    outline: {
        style: none;
        width: 0;
    };
    padding: $indent-base;
    text-decoration: none;

    &:hover,
    &:focus {
        background-color: $color-bg-button;
        color: $color-text;
        text-decoration: none;
    }

    &.action {
        background-color: $color-bg-button-action;
        color: $color-text;
        font-weight: bold;

        &:hover,
        &:focus {
            background-color: scale-color($color-bg-button-action, $lightness: -5%);
        }
    }
}

.form-control {
    position: relative;

    .form-label,
    .form-text {
        display: block;
        width: 100%;
    }

    .icon {
        cursor: pointer;
        display: none;
    }

    .form-label {
        .form-text {
            margin-top: $indent-small-x;
        }
    }

    .form-text {
        font-size: $font-size-medium;

        &::placeholder {
            color: $color-text-auxiliary;
            font-weight: bold;
            letter-spacing: -1px;
        }
    }

    .form-text.form-input {
        $input-line-height: $font-size-large;
        border: {
            color: $color-border-input;
            radius: $border-radius;
            style: solid;
            width: 1px;
        };
        line-height: $input-line-height;
        padding: $indent-small $indent-base;

        &:read-only,
        &[readonly],
        &:disabled,
        &[disabled] {
            background-color: transparent;
        }

        &:focus {
            border-color: $color-border-input-focus;
        }

        &.filled ~ .icon {
            $img-size: $font-size-medium;
            font-size: $img-size;
            position: absolute;
            right: $indent-base;
            bottom: $indent-small + ($input-line-height - $img-size) / 2;
            display: block;
            height: $img-size;
            width: $img-size;

            &.show {
                width: ($img-size * 1.5);
            }
        }
    }

    &.invalid {
        .form-label {
            color: $color-text-error;
        }

        .form-text.form-input {
            border-color: $color-input-error;
        }
    }

    .form-hint {
        position: relative;
        width: 100%;

        & > :only-child {
            background-color: $color-bg-form;
            box-shadow: $box-shadow-hint;
            display: none;
            padding: $indent-base;
            position: absolute;
            left: (100% / 6);
            right: (100% / 6);
            top: $indent-base;
            z-index: 1;

            &.visible {
                display: block;
            }

            & > * + * {
                margin-top: $indent-base;
            }

            .form-hint-header {
                border-bottom: {
                    color: $color-line-hint;
                    style: solid;
                    width: 1px;
                };
                font-size: $font-size-base;
                font-weight: bold;
                margin: {
                    left: -$indent-base;
                    right: -$indent-base;
                };
                padding: {
                    bottom: $indent-base;
                    left: $indent-base;
                    right: $indent-base;
                };
            }
        }
    }
}

.link {
    background-color: transparent;
    border: {
        style: none;
        width: 0;
    };
    color: $color-link;
    cursor: pointer;
    font-size: inherit;
    outline-style: none;
    padding: 0;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.list {
    list-style-type: none;

    li + li,
    .list-item + .list-item {
        margin-top: $indent-base;
    }

    li,
    .list-item {
        &.correct,
        &.wrong {
            background: {
                position: left center;
                repeat: no-repeat;
                size: auto $font-size-base;
            };
            padding-left: $indent-large;
        }

        &.correct {
            background-image: url("../../assets/img/icon-good.png");
        }

        &.wrong {
            background-image: url("../../assets/img/icon-bad.png");
        }
    }
}
