// text colors
$color-text: #231f20;
$color-text-auxiliary: #8b8b90;
$color-text-error: #f64242;
// input text colors
$color-input-error: #f94545;
// link text colors
$color-link: #4a4ad6;

// background colors
$color-bg: #f7f7f7;
$color-bg-form: #ffffff;
$color-bg-button: #ebebeb;
$color-bg-button-action: #ffd200;

// border colors
$color-border-input: #d2d2d2;
$color-border-input-focus: $color-bg-button-action;

// line colors
$color-line-hint: #ededed;

// borders
$border-radius: 4px;

// box shadows
$box-shadow-hint: 0 8px 12px rgba(0, 0, 0, 0.08);

// font sizes
$font-size-base: 1em;
$font-size-small: .8em;
$font-size-medium-small: 1.125em;
$font-size-medium: 1.25em;
$font-size-large: 1.5em;

// indents
$indent-base: 1em;
$indent-small-x: .25em;
$indent-small: .5em;
$indent-large: 1.5em;

// device widths
$width-mobile-min: 240px;
$width-mobile-small: 320px;
$width-mobile-medium: 375px;
$width-mobile-large: 425px;
$width-tablet-small: 600px;
$width-tablet: 768px;
$width-laptop-small: 900px;
$width-laptop: 1024px;
$width-laptop-large: 1440px;
$width-4k: 2560px;
