@import "base";
@import "vars";
@import "helpers";

html {
    background-color: $color-bg;
    font-size: 10px;
    min-height: 100%;
}

html,
body,
.signup-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.signup-form {
    margin: 0 1em;
    padding: $indent-base 0;

    & > * {
        flex: 1 0 auto;
    }

    & > header {
        background: url("../../assets/img/logo.png") center center / auto auto no-repeat;
        flex-grow: 0;
        height: 8em;
    }

    & > footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-top: $indent-base;
        text-align: center;

        & > * + * {
            margin-top: $indent-base;
        }

        .info {
            font-size: $font-size-small;

            & > * + * {
                margin-top: $indent-small;
            }

            a {
                font-size: $font-size-medium-small;
            }
        }

        .links .button {
            display: block;
            width: 100%;
        }
    }
}

#frmSignup {
    background-color: $color-bg-form;
    border-radius: $border-radius;
    flex-grow: 0;
    padding: $indent-base;
    text-align: center;

    form {
        & > * + * {
            margin-top: $indent-base;
        }

        fieldset {
            text-align: left;

            & > * + * {
                margin-top: $indent-base;
            }
        }

        footer {
            & > * {
                width: 100%;
            }

            & > * + * {
                margin-top: $indent-base;
            }

            .button:not(.action) {
                color: $color-text;
            }
        }
    }
}

@media (min-width: $width-mobile-min) {
    html {
        font-size: 11px;
    }

    .signup-form {
        margin: {
            left: auto;
            right: auto;
        };
    }
}

@media (min-width: $width-mobile-small) {
    html {
        font-size: 12px;
    }

    .signup-form {
        width: 25em;
    }
}

@media (min-width: $width-mobile-medium) {
    html {
        font-size: 14px;
    }
}

@media (min-width: $width-mobile-large) {
    html {
        font-size: 16px;
    }
}

@media (min-width: $width-tablet-small) {
    html {
        font-size: 18px;
    }
}

@media (min-width: $width-tablet) {
    html {
        font-size: 20px;
    }
}

@media (min-width: $width-laptop-small) {
    html {
        font-size: 22px;
    }
}

@media (min-width: $width-laptop) {
    html {
        font-size: 24px;
    }
}

@media (min-width: $width-laptop-large) {
    html {
        font-size: 28px;
    }
}

@media (min-width: $width-4k) {
    html {
        font-size: 32px;
    }
}
